* {
    margin: 0;
}

body {
    background-color: ghostwhite;
    background-color: black;
}

/* 
**************** WELCOME **************** 
*/


.headerWelcome {
    background: rgba(51, 51, 51, 0.384);
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -align-items: center;
}
.animationConatiner {
    margin-top: 20px;
    -height: 35px;
    -background-color: red;
    font-family: Dejavu Sans, monospace;
    overflow: hidden;
    border-right: 0.85em solid lime;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.55em;
    animation: typing 4.9s steps(40, end), blinking 0.45s step-end infinite;
}

.animationConatiner > h1,
h2 {
    font-size: 35px;
    margin-top: 20px;
    color: white;
    bottom: 20px;
    -background-color: greenyellow;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 83%;
    }
}

@keyframes blinking {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgba(2, 170, 2, 0.829);
    }
}

.slider-wrapper {
    -background-color: red;
    font-size: 30px;
    font-family: Dejavu Sans, monospace;
    color: white;
    -font-weight: bold;
    -text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.slider {
    -background-color: rgb(18, 18, 18);
    -background-color: lime;
    -margin-left: 0;
    -height: 500px;
    width: 100%;
    padding-left: 15px;
    overflow: hidden;
}
.slider div {
    -background-color: orange;
    color: whitesmoke;
    margin-bottom: 5px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    animation: slide-left 7s linear;
    margin-top: 30px;
    margin-left: -15%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* .slider-text1 > {
    margin-top: 0;
} */
.slider-text2 {
    animation: slide-right 8.5s linear;
    margin-right: -15%;
    margin-top: 10px;
}

@keyframes slide-left {
    0% {
        margin-left: -150%;
    }
    75% {
        margin-left: -150%;
    }
    85% {
        margin-left: -25%;
    }
    100% {
        margin-left: -15%;
    }
}

@keyframes slide-right {
    0% {
        margin-right: -150%;
    }
    75% {
        margin-right: -150%;
    }
    85% {
        margin-right: -25%;
    }
    100% {
        margin-right: -15%;
    }
}

/* .theSocialNetworkLogoBig {
    -width: 100px;
    height: 300px;
    margin: 50px 0 50px 20px;
    -align-self: flex-start;
    -display: block;
} */
.matrixCodeContainer {
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
}

.matrixCode {
    width: 100%;
    
    -margin-bottom: 80%;
}

.sectionR-L-RP_Container {
    -position: absolute;
    -text-align: center;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    -background-color: red;
}

.sectionR-L-RP {
    -text-align: center;
    -margin: 0 auto;
    background-color: rgba(7, 7, 7, 0.5);
    -margin: 30px;
    width: 300px;
    height: 350px;
    padding: 55px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -border-bottom: 1px solid rgb(53, 53, 53);
}

.sectionR-L-RP > h1,
p,
button {
    font-family: Dejavu Sans, monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    -outline: lime;
}

.sectionR-L-RP > input {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-size: 0.9em;
    padding: 4px 0 4px 8px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.sectionR-L-RP > input:focus {
    border: 2px solid lime;
}

#registerBtn {
    background-color: black;
    -color: red;
    width: 150px;
}

#registerBtn:focus {
    border: 2px solid lime;
    outline: none;
}

.loginLink {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    text-decoration: none;
}

.loginLink:hover {
    text-decoration: underline;
}

.loginLink:focus {
    border: 2px solid lime;
    outline: none;
}

.loginBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.loginBtnContainer > button {
    width: 150px;
    margin-bottom: 20px;
    align-self: center;
}

.loginBtnContainer > p {
    align-self: center;
}

.sectionResetPsw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.resetPswComponents {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.resetPswComponents > input {
    width: 250px;
}

.resetPswComponents > button {
    width: 150px;
}

.registrationError {
    color: orangered;
}

/* 
****************** APP ****************** 
*/
/* ----header---- */
.headerApp {
    -background-color: red;
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1px solid rgb(53, 53, 53);
}
.theSocialNetworkLogo {
    -width: 100px;
    height: 60px;
    margin: 50px 0 50px 20px;
}

/* ----nav---- */
.navApp {
    background-color: rgba(26, 255, 0, 0.425);
    display: flex;
    justify-content: space-evenly;
    -height: 30px;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.navApp > h4 {
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(53, 53, 53);
    background-color: rgb(255, 234, 0);
}

.navApp > h4:hover {
    text-decoration: underline;
    background-color: red;
    transition: 0.5s;
}

/* ----section(Profile)---- */
.profileContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
/* ----section(Profile(ProfilePic)---- */
.profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    border: 1px solid rgba(53, 53, 53, 0.164);
    padding: 2px;
}

.profile_pic:hover {
    cursor: pointer;
    opacity: 50%;
}

/* ----section(Profile(BioEditor)---- */

/* .profile-bioeditorContainer {
    -background-color: red;
} */

.profile_picBigContainer {
    text-align: center;
    -width: 250px;
    -height: 200px;
    background-color: rgba(242, 255, 0, 0.288);
}

.profile_picBigContainer img {
    height: auto;
    width: 500px;
    -object-fit: scale-down;
    -object-fit: contain;
    border-radius: 0;
    border: 0;
}

.bioEditor {
    padding: 10px 20px 20px 20px;
    background-color: rgba(252, 118, 0, 0.253);
}

/* ----section(OtherProfile)---- */
.sectionProfileFriendbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    -background-color: hotpink;
}

/* ----section(OtherProfile(FriendButton)---- */
.friendButton {
    -align-self: center;
    width: 180px;
    -margin-top: 10px;
    color: red;
}

/* ----section(FindPeople)---- */
.findPeopleContainer {
    background-color: lime;
}

/* ----section(Friends)---- */
.wannabesContainer {
    background-color: red;
    -display: flex;
    -flex-direction: column;
    -width: 500px;
    z-index: -1;
}

/* ----section(Uploader)---- */
.modalUploader {
    width: 300px;
    -position: absolute;
    position: fixed;
    top: 150px;
    background-color: rgba(26, 26, 26, 0.801);
    color: white;
    text-align: center;
    margin: 0 25% 0 25%;
    border-radius: 3px;
    padding: 35px;
    z-index: 1;
    -height: 100px;
}

/******************************************
    ************** footer **************
*******************************************/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    color: white;
    -background-color: rgb(0, 0, 0);
}
