* {
    -margin: 0;
    margin: 0.01px;
}

body {
    -background-color: ghostwhite;
    background-color: black;
}

.parentContainer {
    position: relative;
    min-height: 100vh;
    -background-color: black;
    -background-color: ghostwhite;
}

.childrenContainer {
    padding-bottom: 2.5rem;
}

/******************************************
    ************** WELCOME **************
*******************************************/

.headerWelcome {
    -background: rgba(51, 51, 51, 0.384);
    background-color: black;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -align-items: center;

    -opacity: 0;
    -visibility: hidden;
    animation: 13s fadeInOut;
    animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    50% {
        background-color: black;
    }
    100% {
        -background-color: red;
        background: rgba(51, 51, 51, 0.384);
    }
}
.animationConatiner {
    -width: 1125px;
    width: 1220px;
    -width: 1350px;
    margin-top: 20px;
    -height: 35px;
    -background-color: red;
    font-family: Dejavu Sans, monospace;
    overflow: hidden;
    border-right: 0.85em solid lime;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.55em;

    /* animation-delay: 5s, 5s;
    animation-name: typing, blinking;
    animation-duration: 4.9s, 0.45s;
    animation-timing-function: steps(40, end), step-end infinite; */

    animation: typing 4.5s steps(40, end), blinking 0.45s step-end infinite;
}

.animationConatiner span {
    color: rgb(65, 65, 65);
    -color: rgba(0, 255, 0, 0.527);

    opacity: 0;
    visibility: hidden;
    animation: 14s fadeOut;
    animation-fill-mode: forwards;
}

.animationConatiner > h1,
h2 {
    font-size: 35px;
    margin-top: 20px;
    color: white;
    bottom: 20px;
    -background-color: rgb(255, 120, 47);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        -width: 83%;
        -width: 1125px;
        width: 1220px;
        -width: 1425px;
    }
}

@keyframes blinking {
    from,
    to {
        border-color: transparent;
    }
    50% {
        /* border-color: rgba(2, 170, 2, 0.829); */
        border-color: rgb(56, 142, 80);
    }
}

.glitchMainTitle {
    font-size: 1.2em;
    position: relative;
}

.glitchMainTitle:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 5px 0 rgba(146, 191, 150, 0.87);
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchMainTitle-before 1.8s infinite linear alternate-reverse;
}

@keyframes glitchMainTitle-before {
    $steps: 25;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

.glitchMainTitle:after {
    content: attr(data-text);
    position: absolute;
    left: 5px;
    text-shadow: -5px 0 rgba(68, 145, 74, 0.863);
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchMainTitle-after 2s infinite linear alternate-reverse;
}

@keyframes glitchMainTitle-after {
    $steps: 25;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

.slider-wrapper {
    -background-color: red;
    font-size: 30px;
    font-family: Dejavu Sans, monospace;
    color: white;
    -font-weight: bold;
    -text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.slider {
    -background-color: rgb(18, 18, 18);
    -background-color: lime;
    -margin-left: 0;
    -height: 500px;
    width: 100%;
    padding-left: 15px;
    overflow: hidden;
}
.slider div {
    -background-color: orange;
    color: whitesmoke;
    margin-bottom: 5px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
}

.slider-text1 {
    animation: slide-left 7s linear;
    margin-top: 30px;
    margin-left: -15%;
    display: flex;
    flex-direction: column;
    align-self: center;
    letter-spacing: 0.04em;
}

.slider-text1 p {
    background: rgba(51, 51, 51, 0.052);
}

.slider-text1 span {
    color: rgb(65, 65, 65);
    -color: rgba(0, 255, 0, 0.527);

    opacity: 0;
    visibility: hidden;
    animation: 14s fadeOut;
    animation-fill-mode: forwards;
}

#byFor {
    color: rgba(255, 255, 255, 0.861);
}

.slider-text2 {
    animation: slide-right 8.5s linear;
    margin-right: -15%;
    margin-top: 10px;
    letter-spacing: 0.045em;
}

.slider-text2 p {
    background: rgba(51, 51, 51, 0.052);
}

.slider-text2 span {
    color: rgb(65, 65, 65);
    -color: rgb(46, 46, 46);
    -color: rgba(0, 255, 0, 0.477);

    opacity: 0;
    visibility: hidden;
    animation: 14s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
    0% {
        margin-left: -150%;
    }
    75% {
        margin-left: -150%;
    }
    85% {
        margin-left: -25%;
    }
    100% {
        margin-left: -15%;
    }
}

@keyframes slide-right {
    0% {
        margin-right: -150%;
    }
    75% {
        margin-right: -150%;
    }
    85% {
        margin-right: -25%;
    }
    100% {
        margin-right: -15%;
    }
}

/* .theSocialNetworkLogoBig {
    -width: 100px;
    height: 300px;
    margin: 50px 0 50px 20px;
    -align-self: flex-start;
    -display: block;
} */
.matrixCodeContainer {
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
    -background-color: red;
}

.matrixCode {
    width: 100%;
    -z-index: -1;
    opacity: 0;
    visibility: hidden;
    animation: 15s fadeIn;
    animation-fill-mode: forwards;
    -animation-delay: 5s;
    -background-color: black;
    -transition-delay: 3s;
    -transition: opacity 3s linear, visibility 3s linear;
}

@keyframes fadeIn {
    50% {
        opacity: 0;
    }
    /* 90% {
        visibility: visible;
        opacity: 1;
    } */
    100% {
        visibility: visible;
        opacity: 1;
    }
    /* 100% {
        opacity: 0.85;
    } */
}

/* ----container(Registration-Login-ResetPsw)---- */

.sectionRegistrationContainer {
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionRegistration {
    -background-color: rgba(7, 7, 7, 0.5);
    backdrop-filter: blur(4px);
    width: 400px;
    height: 350px;
    padding: 55px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    animation: 14s fadeOut;
    animation-fill-mode: forwards;
}

#titles {
    letter-spacing: 0.1em;
}

@keyframes fadeOut {
    75% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.sectionRegistration > h1,
p,
button {
    font-family: Dejavu Sans, monospace;
    color: white;
    -background-color: rgba(0, 0, 0, 0.288);
    -backdrop-filter: blur(5px);
    text-decoration: none;
    -outline: lime;
}

.sectionRegistration > input {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-size: 0.9em;
    padding: 4px 0 4px 8px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.sectionRegistration > input:focus {
    border: 2px solid lime;
}

.sectionR-L-RP_Container {
    -position: absolute;
    -text-align: center;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    -background-color: red;
}

.sectionR-L-RP {
    -text-align: center;
    -margin: 0 auto;
    background-color: rgba(7, 7, 7, 0.5);
    backdrop-filter: blur(3.5px);
    -margin: 30px;
    width: 400px;
    height: 350px;
    padding: 55px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -border-bottom: 1px solid rgb(53, 53, 53);
}

.sectionR-L-RP > h1,
p,
button {
    font-family: Dejavu Sans, monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    -outline: lime;
}

.sectionR-L-RP > input {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-size: 0.9em;
    padding: 4px 0 4px 8px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.sectionR-L-RP > input:focus {
    border: 2px solid lime;
}
/* ----section(Registration)---- */
#registerBtn {
    background-color: black;
    -color: red;
    width: 150px;
    font-size: 1em;
}

#registerBtn:focus {
    border: 2px solid lime;
    outline: none;
}

/* ----section(Login)---- */
.loginLink {
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    text-decoration: none;
}

.loginLink:hover {
    -text-decoration: underline;
}

.loginLink:focus {
    border: 2px solid lime;
    outline: none;
}

.loginBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.loginBtnContainer > button {
    width: 150px;
    margin-bottom: 20px;
    align-self: center;
}

.loginBtnContainer > p {
    align-self: center;
}

/* ----section(ResetPsw)---- */
.sectionResetPsw {
    color: white;
    font-family: Dejavu Sans, monospace;
    justify-content: space-between;
    height: 150px;
    -top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.resetPswComponents {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

/* .resetPswComponents > input {
    width: 250px;
} */

.resetPswComponents > input {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-size: 0.9em;
    padding: 4px 0 4px 8px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

#enterEmail {
    padding: 0 50px 20px 50px;
    -background-color: red;
    text-align: center;
}

#enterPsw {
    padding: 20px 50px 20px 50px;
    -background-color: red;
    text-align: center;
}

.component2btn {
    margin-top: 30px;
}

.component3Link {
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.682);
}

#component3Link {
    color: lime;
}

/* .resetPswComponents > button {
    width: 150px;

} */

.registrationError {
    color: orangered;
}

/**********************************************
    ***************** APP *****************
**********************************************/
.appParentWrapper {
    -background-color: ghostwhite;
    background-color: rgba(255, 255, 255, 0.984);
}

/* ----header---- */
.headerApp {
    -background-color: red;
    display: flex;
    justify-content: space-between;
    height: 150px;
    -border-bottom: 1px solid rgb(53, 53, 53);
    -border: 5px solid rgba(255, 255, 255, 0.459);
    border: 8px solid white;
    -border-bottom: hidden;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
}

.theDeveloperNetworkLogo {
    -width: 100px;
    height: 110px;
    -margin: 50px 0 50px 20px;
    margin-left: 2%;
    align-self: center;
    /* -transform: rotate(180deg);
    -transition-duration: 3s;


    -opacity: 0;
    -visibility: hidden;
    animation: 15s fadeIn;
    animation-fill-mode: forwards;
    -animation-delay: 5s;
    -background-color: black;
    -transition-delay: 3s;
    -transition: opacity 3s linear, visibility 3s linear; */

    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.theDeveloperNetworkLogo:hover {
    animation-play-state: paused;
}

/* ----nav---- */
.navApp {
    -background-color: rgba(26, 255, 0, 0.425);
    -background-color: white;

    display: flex;
    justify-content: space-evenly;
    -height: 30px;
    border-bottom: 1px solid rgb(53, 53, 53);
    margin-right: 10%;
    margin-left: 10%;
}

.navApp p {
    background-color: white;
    -margin: 20px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    -font-family: Dejavu Sans, monospace;
    font-family: "Courier New", Courier, monospace;
    -font-family: Andale Mono, monospace;
    -border: 1px solid rgb(53, 53, 53);
}

#navIcons {
    color: black;
    background-color: white;
    padding: 3px 20px;
    -border-radius: 50%;
    font-size: 1.28em;
}

#navIcons:hover {
    color: rgb(0, 212, 0);
}

#profileIcon {
    color: black;
    background-color: white;
    padding: 0 20px;
    -border-radius: 50%;
    font-size: 1.4em;
}

#profileIcon:hover {
    color: rgb(0, 212, 0);
}

#friendsIcon {
    color: black;
    background-color: white;
    padding: 0 20px;
    -border-radius: 50%;
    font-size: 1.4em;
}

#friendsIcon:hover {
    color: rgb(0, 212, 0);
}

#chatIcon {
    color: black;
    background-color: white;
    padding: 0 20px;
    -border-radius: 50%;
    font-size: 1.5em;
}

#chatIcon:hover {
    color: rgb(0, 212, 0);
}

/* .logoutLink {
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.815);
    color: rgba(255, 255, 255, 0.623);
    outline: none;
    text-decoration: none;
    padding: 6.5px 10px;
    border-radius: 5px;
} */

#logout {
    color: rgba(0, 0, 0, 0.815);
    padding: 6.5px 10px;
    border-radius: 25px;
    font-size: 1.3em;
}

#logout:hover {
    color: rgba(0, 0, 0, 0.445);
    transition: 0.35s;
}

#deleteAccount {
    color: rgba(0, 0, 0, 0.895);
    padding: 6.5px 10px;
    border-radius: 25px;
    font-size: 1.68em;
}

#deleteAccount:hover {
    cursor: pointer;
    transition: 0.4s;
    color: red;
}

.navApp > p:hover {
    text-decoration: underline;
    -background-color: rgba(255, 0, 0, 0.288);
}

/* .whiteStructureContainer {
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    position: absolute;
    z-index: 0;
    -background-color: red;
}

.whiteStructure {
    width: 100%;
    z-index: -2000000;
    -opacity: 0.5;
    -visibility: hidden;
    -animation: 15s fadeIn;
    -animation-fill-mode: forwards;
    -animation-delay: 5s;
    -background-color: black;
    -transition-delay: 3s;
    -transition: opacity 3s linear, visibility 3s linear;
} */

/* ----section(Profile)---- */
.sectionProfile {
    display: flex;
    justify-content: center;
    -background-color: red;
}
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    min-height: 600px;
    -min-height: 8000px;
    max-width: 900px;
    align-content: center;
}

.profileContainer p {
    font-size: 1.6em;
    color: white;
    -font-family: Dejavu Sans, monospace;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5px;
}

#welcomeBack {
    -margin-right: 80px;
    margin-top: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#welcomeBack p {
    letter-spacing: 0.2em;
    padding: 5px 23px 5px 23px;
}

.cardContainer {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px 0 30px;
    -grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-around;
    grid-gap: 50px;
    align-self: center;
}

.card {
    -width: 100%;
    -height: 100%;
    -width: 500px;
    -height: 250;
    position: relative;
    background-color: #000000d5;
    color: whitesmoke;
    margin: 20px;
    border-radius: 7.5px;
    width: 700px;
    -height: 700px;
    -max-width: 750px;
    -min-height: 300px;
    -min-width: 100%;
    -max-height: 80%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile_picBigContainer {
    text-align: center;
    -width: 250px;
    -height: 200px;
    -background-color: rgba(242, 255, 0, 0.288);
}

.profile_picBigContainer img {
    margin-left: 1%;
    height: auto;
    width: 700px;
    -margin-left: 15px;
    -object-fit: scale-down;
    -object-fit: contain;
    border-radius: 5px;
    -border-top-left-radius: 5px;
    -border-top-right-radius: 5px;
    border: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#introTitle {
    align-self: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* ----section(Profile(ProfilePic)---- */
.profilePicContiner {
    -border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2%;
}

.profile_pic {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    -margin: 20px;
    -border: 1px solid rgba(53, 53, 53, 0.164);
    border: 8.8px solid white;
    -padding: 2px;
    align-self: center;
}

.profile_pic:hover {
    cursor: pointer;
    opacity: 50%;
}

/* ----section(Profile(BioEditor)---- */

/* .profile-bioeditorContainer {
    -background-color: red;
} */

.bioEditor {
    background-color: #000000c9;
    padding: 10px 20px 20px 20px;
    -background-color: rgba(252, 118, 0, 0.253);
}

#bioEditorIsVisible p {
    font-size: 1.25em;
}

#bioeditorTextarea {
    padding-left: 25px;
    padding-right: 25px;
    -text-align: justify;
    -text-justify: inter-word;
    text-align: justify;
}

#bioeditBtn {
    -margin-left: 45%;
    font-size: 1.2em;
    margin: 20px 45% 20px 45%;
    outline: none;
    width: 100px;
}

#bioeditBtn:hover {
    border: 1px solid lime;
}

#saveBackBtnWrap {
    display: flex;
    justify-content: center;
}

#saveBackBtnWrap button {
    margin-left: 65px;
    margin-right: 65px;
}

/* ----section(OtherProfile)---- */
/* .otherProfileContainer {
    margin-left: 200px;
    display: flex;
    -flex-direction: column;
    -align-items: center;
    justify-content: center;
    -justify-content: space-evenly;
    margin: 20px;
    min-height: 600px;
    width: 600px;
    -align-content: center;
} */

.otherProfileContainer {
    /* text-align: center;
    display: flex;
    -flex-direction: row-reverse;
    -flex-direction: column;
    -justify-content: space-between;
    align-items: center;
    -width: 1000px;
    -align-self: center;
    border: 3px solid red;
    -padding-left: 10%; */

    text-align: center;
    padding-left: 8%;
}

#otherProfileBioeditor {
    font-size: 1.25em;
    text-align: justify;
}

.otherProfileBtnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.sectionProfileFriendbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    -background-color: hotpink;
}

.friendButtonOtherProfWrap button {
    color: white;
}

.friendButtonOtherProfWrap button:hover {
    color: lime;
}

.dmWrap {
    text-align: center;
}

.dmWrap button {
    color: white;
}

.dmWrap button:hover {
    color: lime;
}

/* ----section(OtherProfile(FriendButton)---- */
.sectionWrapper {
    display: flex;
    justify-content: center;
    -align-items: center;
    -background-color: red;
    -width: 1000px;
    -height: 1000px;
    margin-left: 25%;
    margin-right: 25%;
    -border-radius: 10px;
}

.friendButtonContainer {
    display: flex;
    justify-content: center;
}

.friendButton {
    -align-self: center;
    width: 180px;
    -margin-top: 10px;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

/* ----section(Friends)---- */
.opsNoFriendsNorRequestsFirstWrap {
    display: flex;
    justify-content: center;
}

.opsNoFriendsNorRequestsSecondtWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    margin-top: 55px;
    font-family: Dejavu Sans, monospace;
}

.friendsGlassOverlay {
    border: 4px solid white;
    border-left: 1.8px solid white;
    border-radius: 4px;
    padding: 10px;
    /* box-shadow: 0 0 15px white, 0 5px 5px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 4px 15px -2px white;
    background-color: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(5px);
    font-size: 1.2em;
    text-align: center;
}

.friendsWrapper {
    padding-bottom: 5%;
    /*  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; */
    background-color: rgba(0, 0, 0, 0.486);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -column-gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px 40px;
    border-radius: 7.5px;
}

.friendsWrapper img {
    -margin: 20% 40%;
    margin-top: 20px;
    -align-self: center;
    place-self: center;
}

.friendsWrapper p {
    font-size: 1.1em;
    -padding: 5px 0 5px 10px;
    text-decoration: none;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.friendsWrapper button {
    font-size: 1em;
    padding: 5px 0 5px 10px;
    color: red;
    padding: 5px;
    margin-left: 10%;
    margin-top: 1%;
    align-self: center;
    -text-align: center;
}

.wannabesWrapper {
    /* margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    -padding-bottom: 5%;
    -background-color: rgba(0, 0, 0, 0.788);
    background-color: rgba(0, 0, 0, 0.486);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -column-gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px 40px;
    padding-left: 10%;
}

.wannabesWrapper p {
    font-size: 1.1em;
    -padding: 5px 0 5px 10px;
    -padding: 5px 0 5px 10px;
    text-decoration: none;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#friendsWannabesLink {
    text-decoration: none;
}

.wannabesWrapper img {
    -margin: 2% 0 2% 4%;
    margin-top: 20px;
}

.wannabesWrapper button {
    font-size: 1em;
    padding: 5px 0 5px 10px;
    color: red;
    padding: 5px;
    margin-left: 6%;
    margin-top: 1%;
}

.acceptBtnWrapper {
    transform: translate(-35px, 0);
}

#acceptBtn {
    color: lime;
}

.refuseBtnWrapper {
    transform: translate(-35px, -5px);
}

/* ----section(FindPeople)---- */

.friendsSearchGlassOverlay {
    border: 4px solid white;
    border-left: 1.8px solid white;
    border-radius: 4px;
    padding: 10px;
    /* box-shadow: 0 0 15px white, 0 5px 5px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 4px 15px -2px white;
    background-color: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(5px);
    font-size: 1.1em;
    text-align: center;
}

#findpeopleTitles {
    font-size: 1.3em;
    padding: 5px;
    margin-left: 5px;
}

#imgLatest {
    padding: 5px;
    margin-left: 5px;
}

.searchInputWrapper {
    -padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    -column-gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px 40px; */
}

#searchInput {
    margin-top: 3.5%;
    width: 600px;
    height: 25px;
    -margin: 5px 0 10px 1.5px;
    font-family: Dejavu Sans, monospace;
    outline: none;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.795);
    padding-left: 15px;
    -text-align: center;
    font-size: 1em;
}

#searchInput:focus {
    border: 3px solid lime;
}

#nothingFoundWrapper {
    margin: 5px 0 10px 5px;
}

#nothingFound {
    color: lime;
}

/* ----section(Chat)---- */
.sectionChatWrapper {
    display: flex;
    justify-content: center;
}

.cardChat {
    position: relative;
    -background-color: #000000d5;
    color: whitesmoke;
    margin: 20px;
    border-radius: 5px;
    max-width: 802px;
    -min-width: 700px;
    /* margin-left: 20%;
    margin-right: 20%; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.chatHistoryContainer {
    overflow: scroll;
    height: 750px;
    width: auto;
    overflow-x: hidden;
    background-color: #000000df;
    -z-index: 1;
    -position: absolute;
}

.chatTextareaContainer {
    background-color: #000000df;
}

.chatTextareaContainer textarea:focus {
    outline: none;
    border: 3px solid lime;
}

/* .imgNameWrap{
    display: flex;
}

.imgNameWrap p {
    align-self: center;
    margin-left: 5%;
} */

.imgNameWrap img {
    margin-left: 2%;
}

/* .messageDateTimeDeleteBtnWrap {
    padding-bottom: 20px;
} */

#messageName {
    font-size: 1.2em;
}

#chat-messages {
    margin: 5px 3px;
}

#chat-messages pre {
    -font-size: 1.15em;
    -color: lime;
    -font-family: Dejavu Sans, monospace;
    border: 2px solid rgba(255, 255, 255, 0.169);
    padding: 5px 10px;
    background-color: #00000033;
}

/* code-prettify(sons-of-obsidian)_START */
.str {
    color: #ec7600;
}
.kwd {
    color: #78f800;
}
.com {
    color: #66747b;
}
.typ {
    color: #678cb1;
}
.lit {
    color: #ffff00;
}
.pun {
    color: #f1f2f3;
}
.pln {
    color: #f1f2f3;
}
.tag {
    color: #8ac763;
}
.atn {
    color: #e0e2e4;
}
.atv {
    color: #ec7600;
}
.dec {
    color: purple;
}
pre.prettyprint {
    border: 0px solid #888;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #000;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    color: #555;
    list-style-type: decimal;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #111;
}
@media print {
    .str {
        color: #060;
    }
    .kwd {
        color: #006;
        font-weight: bold;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: bold;
    }
    .lit {
        color: #044;
    }
    .pun {
        color: #440;
    }
    .pln {
        color: #000;
    }
    .tag {
        color: #006;
        font-weight: bold;
    }
    .atn {
        color: #404;
    }
    .atv {
        color: #060;
    }
}
/* code-prettify(sons-of-obsidian)_END */

#chat-messages a {
    color: white;
}

#chat-messages a:hover {
    color: rgba(0, 255, 0, 0.888);
    transition: 0.5s;
}

.deleteMessageBtn {
    font-size: 1.2em;
    margin-left: 180px;
    border-radius: 50%;
    padding: 5px;
    outline: none;

    color: lime;
    -padding: 6.5px 10px;
    -border-radius: 5px;
    -font-size: 1.4em;
}

.deleteMessageBtn:hover {
    outline: none;
    color: red;
    cursor: pointer;
    -border: 1px solid red;
    -background-color: rgba(255, 255, 255, 0.137);
}

.deleteMessageBtn:active {
    border: 3px solid lime;
}

#chatTextarea {
    font-family: Dejavu Sans, monospace;
}

#chatbuttonWrap {
    text-align: center;
    background-color: #000000df;
    -margin-right: 18px;
    -border-radius: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 0;
}

#chatbuttonWrap button {
    font-size: 1em;
    -margin-top: 3px;
    margin-bottom: 5px;
    -border: 1px solid whitesmoke;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.226),
        0 10px 10px rgba(245, 245, 245, 0.226);
}

#chatbuttonWrap button:hover {
    color: lime;
}

/* ----section(OnlineUsers)---- */

.onlineUsersTitleWrap {
    background-color: black;
    border-right: 6.5px solid white;
    -border-radius: 10px;
    border-radius: 4px;
    padding-left: 5px;
}

.onlineUserContainerWrap {
    position: absolute;
    width: 100%;
}

/* .onlineUserContainerWrap:before {
    background-color: inherit;
} */

.onlineUsersGlassOverlay {
    border: 4px solid white;
    border-left: 1.8px solid white;
    border-radius: 4px;
    padding: 10px;
    -box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    -background-color: rgba(0, 0, 0, 0.909);
    backdrop-filter: blur(5px);
    -opacity: 0.5;
}

.onlineUserContainer {
    display: inline-flex;
    padding: 5px;
    -border: 2px solid lime;
}

.onlineUserContainer > div {
    text-align: center;
}

#onlineUserProfilePic {
    -border: none;
    border: 7px solid rgba(0, 255, 0, 0.774);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    filter: drop-shadow(8px 8px 10px rgba(0, 255, 0, 0.288));
    animation: border-pulsate 2.45s infinite;
}

@keyframes border-pulsate {
    0% {
        border-color: rgba(0, 255, 0, 0.731);
    }
    50% {
        border-color: rgba(0, 255, 0, 0);
    }
    /* 50%  { border-color: rgba(0, 255, 0, 0.233); } */
    /* 50%  { border-color: rgba(255, 255, 255, 0.774); } */
    100% {
        border-color: rgba(0, 255, 0, 0.774);
    }
}

/* ----section(DirectMessages)---- */

#directMessages {
    text-align: center;
    font-family: Dejavu Sans, monospace;
}

/* ----section(Wall)---- */

/* #noPostsYet {
    color: red;
    z-index: 2;
    position: absolute;
} */

.wallOuterContainer {
    -background-color: red;
}

.wallWrapper {
    -margin-top: 500px;
    display: flex;
    justify-content: center;
    -height: auto;
    -align-items: center;
}

.wallContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    -background-color: lime;
}

.cardWallWrapper {
    margin-top: 95px;
    background-color: black;
    width: 100vw;
    z-index: 1;
    -border: 10px solid blue;
}

.cardWallWrapperZindex {
    -background-color: red;
    background: rgba(51, 51, 51, 0.199);
    margin-top: 5%;
}

/* .cardWallContainer {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px 0 30px;
    -grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-around;
    grid-gap: 50px;
    align-self: center;
    border: 10px solid red;
} */

.cardWall {
    position: relative;
    -background-color: #000000d5;
    color: whitesmoke;
    margin: 20px;
    border-radius: 5px;
    max-width: 70vw;
    min-width: 700px;
    -moz-animation-direction: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 20px white, 0 0 5px white;
    -border: 10px solid yellow;
}

.wallHistoryContainerHidden {
    height: 90px;
    width: 70vw;
    margin-bottom: 5%;
}

.wallHistoryContainer {
    -overflow-x: hidden;
    overflow: auto;
    -height: 750px;
    -height: auto;
    height: 90vh;
    width: 70vw;
    -width: 750px;
    overflow-x: hidden;
    background-color: #000000df;
    -z-index: 1;
    -position: absolute;
    -border: 4px solid white;
    -border: 4px solid lime;
    margin-bottom: 5%;
    -margin-top: 1%;
    border-radius: 15px;
}

.wallHistoryContainer::-webkit-scrollbar {
    display: none;
    -overflow-x: hidden;
}

/* .wallHistoryContainer::-webkit-scrollbar :hover :active :focus {
    -visibility: visible;
    -overflow-x: scroll;
    overflow-x: visible;
} */

/* .wallHistoryContainer:hover {
    visibility: visible;
    overflow-x: scroll;
} */

/* .wallPostsGlassOverlayWrap {
    position: absolute;
    width: 100%;
} */

.wallPostsGlassOverlayWrap {
    position: absolute;
    width: 100%;
}

.wallPostsGlassOverlay {
    border: 3px solid white;
    border-left: 1.8px solid white;
    border-right: 1.8px solid white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px white, 0 0 5px white;
    -background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(5px);
    -opacity: 0.5;
}

.wallPostsGlassOverlay > div {
    -text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.wallPostsGlassOverlay > div > p {
    font-size: 1.3em;
}

#wallForm {
    -background-color: black;
    color: white;
    font-family: Dejavu Sans, monospace;
}

#inputTitle {
    width: 200px;
    margin-right: 30px;
    font-family: Dejavu Sans, monospace;
}

#inputTitle:focus {
    outline: none;
    border: 3px solid lime;
}

#postWallBtn {
    font-size: 1em;
}

#postWallBtn:hover {
    color: lime;
}

#postWallBtn:focus {
    outline: none;
    border: 1px solid white;
}

.wallPostsPicContainer {
    text-align: center;
    -width: 250px;
    -height: 200px;
    -background-color: rgba(242, 255, 0, 0.288);
}

.wallPostsPicContainer img {
    margin-top: 85px;
    height: auto;
    width: 40vw;
    -margin-left: 15px;
    -object-fit: scale-down;
    -object-fit: contain;
    border-radius: 5px;
    -border-top-left-radius: 5px;
    -border-top-right-radius: 5px;
    border: 0;
    -box-shadow: 0 0 25px rgba(255, 255, 255, 0.301),
        0 0 20px rgba(255, 255, 255, 0.301);
}

#titleTimestampWrap {
    -text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -height: 90px;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    -background: rgba(51, 51, 51, 0.176);
}

#titleTimestampWrap > p {
    text-align: center;
    padding-top: 15px;
    font-size: 0.9em;
}

#titleTimestampWrap > p > b > p {
    margin-bottom: 15px;
}

/* ----section(Uploader)---- */

.modalUploaderWrapper {
    width: 98.5vw;
    height: 86vh;
    -width: 760px;
    -height: 504px;
    position: absolute;
    -position: fixed;
    top: 150px;
    background-color: rgba(26, 26, 26, 0.801);
    color: white;
    -text-align: center;
    -margin: 0 25% 0 25%;
    border-radius: 5px;
    -padding: 97px 150px 105px 150px;
    z-index: 1;
    -height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    -border: 2px solid red;
    backdrop-filter: blur(10px);
    margin-left: 8px;
    margin-top: 13px;
}

.uploaderContainer {
    margin-bottom: 615px;
    -padding: 5% 10%;
    -padding: 100px 150px 100px 150px;
    -width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -background-color: rgba(0, 0, 0, 0.61);
    -ackdrop-filter: blur(1px);
    border-radius: 5px;
}

#uploaderSigns {
    color: rgba(191, 191, 191, 0.384);
}

.uploaderContainer p {
    font-size: 1.5em;
}

#uploaderUploadBtn {
    font-size: 1.23em;
}

#uploaderUploadBtn:hover {
    color: lime;
}

#uploaderCloseBtn {
    margin-top: 20px;
    font-size: 1.22em;
}

#uploaderCloseBtn:hover {
    color: rgba(140, 140, 140, 0.555);
}

#uploaderDeleteBtn {
    font-size: 0.8em;
}

#uploaderDeleteBtn:hover {
    color: red;
}

/******************************************
    ************** footer **************
*******************************************/

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    color: white;
    -background-color: rgb(0, 0, 0); */

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.6rem;
    color: white;
    font-family: Dejavu Sans, monospace;
}

.glitchFooter {
    font-size: 1em;

    -background-color: black;
}

.glitchFooter:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 5px 0 rgba(146, 191, 150, 0.87);
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchFooter-before 3s infinite linear alternate-reverse;
}

@keyframes glitchFooter-before {
    $steps: 25;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

.glitchFooter:after {
    content: attr(data-text);
    position: absolute;
    left: 5px;
    text-shadow: -5px 0 rgba(68, 145, 74, 0.863);
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchFooter-after 4s infinite linear alternate-reverse;
}

@keyframes glitchFooter-after {
    $steps: 25;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

#footerApp {
    margin-left: 10px;
    color: black;
    -box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.glitchFooterApp {
    font-size: 1em;
    -background-color: black;
}

.glitchFooterApp:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgba(0, 0, 0, 0.712);
    top: 0;
    color: black;
    -background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchFooterApp-before 4.5s infinite linear alternate-reverse;
}

@keyframes glitchFooterApp-before {
    $steps: 25;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

.glitchFooterApp:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.521);
    top: 0;
    color: black;
    -background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);

    animation: glitchFooterApp-after 3.5s infinite linear alternate-reverse;
}

@keyframes glitchFooterApp-after {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            animation-delay: 5s;
        }
    }
}

/* ***********************************************************************
        ************************ DARK MODE ************************
*********************************************************************** */
